.nav {
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid 1px rgb(201, 201, 201);
}

.body {
    display: flex;

    width: 100%;
    height: 90vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/caixa-d-agua-esp32.appspot.com/o/300.png?alt=media&token=b932d3e9-052a-4ea2-b1a5-5628be913603);
background-size:auto;


    background-color: rgba(223, 223, 223, 0.623);
}

.info {
    display: flex;
    
    justify-content: space-around;
    width: 90%;
    height: 100%;

    margin-top: 3rem;
}

.nivelagua {
    width: 70%;
    height: 20rem;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 1rem;
    overflow: hidden;
}

.nivelturbidez {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    margin-top: 10%;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 1rem;

}

.botaoLiga {
    border: solid 1px rgb(202, 202, 202);
    border-radius: 1rem;

    background-color: rgb(40, 219, 16);
    border: none;
    width: 100%;
    height: 20%;
}
.botaoDesliga {
    border: solid 1px rgb(202, 202, 202);
    border-radius: 1rem;

    background-color: rgb(231, 95, 95);
    border: none;
    width: 100%;
    height: 20%;
}

.grafico2 {
    display: flexbox;
    justify-content:end;


    border: none;
    border-radius: 1rem;
    height: 20rem;
    width: 20%;
    overflow: hidden;

}